{% extends 'base_main.html' %}

{% block title %}
Додавання ПК
{% endblock %}

{% block body %}
<div class="container mt-5">
   <h1>Додавання ПК</h1><br>
    <form method="post">
        {% csrf_token %}
        <div class="">
            {% for field in form %}
            <div class="form-group">
                <!--Name of field and input-->
                {{ field.label_tag }} <br> {{ field }} <br>

                <!--Show help text for field-->
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}

                <!--Show error text for field-->
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-outline-success" value="Створити">
    </form>
</div>
{% endblock %}