{% extends 'base_main.html' %}

{% block title %}
Додавання об'єкта
{% endblock %}

{% block body %}
<div class="container mt-5">
    <p><h1>Додавання об'єкта</h1></p>

     <form method="post">
          <div class="text-center">
              <div class="span2">
                  <p><a class="btn btn-outline-secondary btn-lg custom" href="add-item/add-pc" role="button">Персональний комп'ютер</a></p>
<!--                  <p><a class="btn btn-outline-secondary btn-lg custom" aria-disabled="true" href="add-item/add-switch" role="button">Комутатор</a></p>-->
              </div>
          </div>
     </form>
</div>

{% endblock %}







