{% extends 'base_main.html' %}
{% block title %}
Додавання ПК
{% endblock %}
{% block body %}
<div class="container mt-5">
   <div class="d-flex justify-content-center">
      <aside class="col-sm-10">
         <div class="card">
            <article class="card-body">
               <h1>Додавання ПК</h1>
               <form method="post">
                  {% csrf_token %}
                      <div class="form-group">
                          <table class="col-sm-12" align="center" border="1">
                              <tr>
                                  <td colspan="2">
                                      <hr>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center" width="45%">
                                      <!--Name of field and input-->
                                      {{ form.inventory_number.label_tag }}
                                  </td>
                                  <td align="center">
                                       {{ form.inventory_number }}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.inventory_number.help_text %}
                                      <small style="color: grey">{{ form.inventory_number.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.inventory_number.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2">
                                      <hr>
                                  </td>
                              </tr>
                          </table>

                          <table class="col-sm-12" align="center" border="1">
                              <tr>
                                  <td align="center" width="25%">
                                      <!--Name of field and input-->
                                      {{ form.floor.label_tag }}
                                  </td>
                                  <td align="center" width="25%">
                                      {{ form.floor }}
                                  </td>
                                  <td align="center" width="25%">
                                      <!--Name of field and input-->
                                      {{ form.room.label_tag }}
                                  </td>
                                  <td align="center" width="25%">
                                      {{ form.room }}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.floor.help_text %}
                                      <small style="color: grey">{{ form.floor.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.floor.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.room.help_text %}
                                      <small style="color: grey">{{ form.room.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.room.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="4">
                                      <br>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center" width="25%">
                                      <!--Name of field and input-->
                                      {{ form.place.label_tag }}

                                  </td>
                                  <td align="center" width="25%">
                                      {{ form.place }}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.place.help_text %}
                                      <small style="color: grey">{{ form.place.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.place.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="4">
                                      <hr>
                                  </td>
                              </tr>
                          </table>

                          <table class="col-sm-12" align="center" border="1">
                              <tr>
                                  <td align="center" width="25%">
                                      <!--Name of field and input-->
                                      {{ form.operating_system.label_tag }}
                                  </td>
                                  <td align="center" width="25%">
                                      {{ form.operating_system }}
                                  </td>
                                  <td align="center" width="25%">
<!--                                      1-->
                                  </td>
                                  <td align="center" width="25%">
<!--                                      2-->
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.operating_system.help_text %}
                                      <small style="color: grey">{{ form.operating_system.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.operating_system.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                                  <td colspan="2" align="center">
<!--                                      3-->
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="4">
                                      <hr>
                                  </td>
                              </tr>
                          </table>

                          <table class="col-sm-12" align="center" border="1">
                              <tr>
                                  <td align="center" width="38%">
                                      <!--Name of field and input-->
                                      {{ form.motherboard.label_tag }}

                                  </td>
                                  <td align="center">
                                      {{ form.motherboard }}
                                  </td>
                              </tr>
                               <tr>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.motherboard.help_text %}
                                      <br><small style="color: grey">{{ form.motherboard.help_text }}</small>
                                      {% endif %}
                                      <!--Show error text for field-->
                                      {% for error in form.motherboard.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2">
                                      <hr>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center">
                                      <!--Name of field and input-->
                                      {{ form.power_supply.label_tag }}
<!--                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                                  </td>
                                  <td align="center">
                                      {{ form.power_supply }}
                                  </td>
                              </tr>
                               <tr>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.power_supply.help_text %}
                                      <br><small style="color: grey">{{ form.power_supply.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.power_supply.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2">
                                      <hr>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center">
                                      <!--Name of field and input-->
                                      {{ form.video_card.label_tag }}
                                  </td>
                                  <td align="center">
                                       {{ form.video_card }}
                                  </td>
                              </tr>
                               <tr>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.video_card.help_text %}
                                      <br><small style="color: grey">{{ form.video_card.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.video_card.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2">
                                      <hr>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center">
                                      <!--Name of field and input-->
                                      {{ form.lan_card.label_tag }}
                                  </td>
                                  <td align="center">
                                       {{ form.lan_card }}
                                  </td>
                              </tr>
                              <tr align="center">
                                  <td colspan="2">
                                      <!--Show help text for field-->
                                      {% if form.lan_card.help_text %}
                                      <br><small style="color: grey">{{ form.lan_card.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.lan_card.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2">
                                      <hr>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center">
                                      <!--Name of field and input-->
                                      {{ form.sound_card.label_tag }}
                                  </td>
                                  <td align="center">
                                      {{ form.sound_card }}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.sound_card.help_text %}
                                      <br><small style="color: grey">{{ form.sound_card.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.sound_card.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2">
                                      <hr>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center">
                                      <!--Name of field and input-->
                                      {{ form.optical_drive.label_tag }}
                                  </td>
                                  <td align="center">
                                       {{ form.optical_drive }}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2" align="center">
                                      <!--Show help text for field-->
                                      {% if form.optical_drive.help_text %}
                                      <br><small style="color: grey">{{ form.optical_drive.help_text }}</small>
                                      {% endif %}

                                      <!--Show error text for field-->
                                      {% for error in form.optical_drive.errors %}
                                      <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2">
                                      <hr>
                                  </td>
                              </tr>
                          </table>

                          <table class="col-sm-12" align="center" border="1">
                              <tr>
                                  <td>
                                      {{ form.text_field.label_tag }}
                                      {{ form.text_field }}
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <hr>
                                  </td>
                              </tr>
                          </table>
                      </div>
                  <input type="submit" class="btn btn-outline-info" value="Створити">
               </form>
            </article>
         </div>
      </aside>
   </div>
</div>
{% endblock %}