{% extends 'base_main.html' %}
{% block title %}
Додавання Оптичного накопичувача
{% endblock %}
{% block body %}
<div class="container mt-5">
   <div class="d-flex justify-content-center">
      <aside class="col-sm-10">
         <div class="card">
            <article class="card-body">
               <h1>Додавання оптичного накопичувача</h1>
               <form method="post">
                  {% csrf_token %}
                   <div class="form-group">
                        <table class="col-sm-12" align="center" border="1">
                            <tr>
                                  <td colspan="3">
                                      <hr>
                                  </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">

                                    <!--Name of field and input-->
                                    {{ form.optical_drive_serial_number.label_tag }}

                                    <div class="mx-auto" style="width: 50%">
                                    {{ form.optical_drive_serial_number }}
                                    </div>

                                    <!--Show help text for field-->
                                    {% if form.optical_drive_serial_number.help_text %}
                                    <small style="color: grey">{{ form.optical_drive_serial_number.help_text }}</small>
                                    {% endif %}

                                    <!--Show error text for field-->
                                    {% for error in form.optical_drive_serial_number.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                  <td colspan="3">
                                      <hr>
                                  </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    <!--Name of field and input-->
                                    {{ form.optical_drive_brand.label_tag }}
<!--                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                                    <div class="mx-auto" style="width: 50%">
                                    {{ form.optical_drive_brand }}
                                    </div>

                                    <!--Show help text for field-->
                                    {% if form.optical_drive_brand.help_text %}
                                    <small style="color: grey">{{ form.optical_drive_brand.help_text }}</small>
                                    {% endif %}

                                    <!--Show error text for field-->
                                    {% for error in form.optical_drive_brand.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                  <td colspan="3">
                                      <hr>
                                  </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    <!--Name of field and input-->
                                    {{ form.optical_drive_model.label_tag }}
<!--                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->

                                    <div class="mx-auto" style="width: 50%">
                                    {{ form.optical_drive_model }}
                                    </div>

                                    <!--Show help text for field-->
                                    {% if form.optical_drive_model.help_text %}
                                    <small style="color: grey">{{ form.optical_drive_model.help_text }}</small>
                                    {% endif %}

                                    <!--Show error text for field-->
                                    {% for error in form.optical_drive_model.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                  <td colspan="3">
                                      <hr>
                                  </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    <!--Name of field and input-->
                                    {{ form.optical_drive_type_drive.label_tag }}

                                    <div class="mx-auto" style="width: 50%">
                                    {{ form.optical_drive_type_drive }}
                                    </div>

                                    <!--Show help text for field-->
                                    {% if form.optical_drive_type_drive.help_text %}
                                    <small style="color: grey">{{ form.optical_drive_type_drive.help_text }}</small>
                                    {% endif %}

                                    <!--Show error text for field-->
                                    {% for error in form.optical_drive_type_drive.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                  <td colspan="3">
                                      <hr>
                                  </td>
                            </tr>

                            <tr>
                                <td colspan="3" align="center">
                                    <!--Name of field and input-->
                                    {{ form.optical_drive_type_connector.label_tag }}
                                    <div class="mx-auto" style="width: 50%">
                                    {{ form.optical_drive_type_connector }}
                                    </div>
                                    <!--Show help text for field-->
                                    {% if form.optical_drive_type_connector.help_text %}
                                    <small style="color: grey">{{ form.optical_drive_type_connector.help_text }}</small>
                                    {% endif %}

                                    <!--Show error text for field-->
                                    {% for error in form.optical_drive_type_connector.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                   </div>
                   <input type="submit" class="btn btn-outline-success" value="Створити">
               </form>
            </article>
         </div>
      </aside>
   </div>
</div>
{% endblock %}
