{% extends 'base_main.html' %}
{% load crispy_forms_tags %}

{% block title %}
Додавання Блока живлення
{% endblock %}
{% block body %}
<div class="container mt-5">
   <div class="d-flex justify-content-center">
      <aside class="col-sm-10">
         <div class="card">
            <article class="card-body">
               <h1>Додавання блока живлення</h1>
                {% csrf_token %}
                {% crispy form%}
            </article>
         </div>
      </aside>
   </div>
</div>
{% endblock %}
