{% extends 'base_main.html' %}

{% block title %}
Додавання об'єкта
{% endblock %}

{% block body %}
<div class="container mt-5">
   <div class="d-flex justify-content-center">
      <aside class="col-sm-10">
         <div class="card">
            <article class="card-body">
                <p><h1>Додавання нового обладнання</h1></p>
                <form method="post">
                    <div class="text-center">
                        <div class="span2">
                            <p><a class="btn btn-outline-secondary btn-lg custom" href="add-item/add-pc" role="button">Персональний комп'ютер</a></p>
<!--                            <p><a class="btn btn-outline-secondary btn-lg custom" aria-disabled="true" href="add-item/add-switch" role="button">Комутатор</a></p>-->
                        </div>
                    </div>
                </form>
            </article>
         </div>
      </aside>
   </div>
</div>

{% endblock %}







