<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
      <link rel="stylesheet" href="online_equipment_accounting/templates/bootstrap_for_xhtml2pdf.css">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Генерація PDF</title>
    <style type="text/css">
      @page {
        size: "A4";
        border: 1px solid #999999;
        margin: .4cm;
      }

       @font-face {
        font-family: "Arial";
        src: url("online_equipment_accounting/arial.ttf") format("truetype");
        }

      body {
        font-family: "Arial";
        font-size: 12px
        }

      .container {
        padding: .4cm;
      }
    </style>
  </head>
  <body>

  <div class="container">
      <div class="d-flex justify-content-center">
          <aside class="col-sm-10">
              <div class="card">
                  <article class="card-body">

                      <table class="" align="center" border="0">
                          <tr>
                              <td colspan="2">
                                  <h3>Основне</h3>
                              </td>
<!--                              <td>2</td>-->
                          </tr>
                          <tr>
                              <td align="justify">
                                  Тип обладнання: {{ item_name_for_user }}
                                  <br>
                                  Інвентарний номер: {{ item_inventory_number }}
                              </td>
                              <td>
                                  Операційна система: {{ item_operating_system }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h3>Місцезнаходження</h3>
                              </td>
                              <td>
                                   Поверх: {{ item_floor }}
                                  <br>
                                  Кабінет: {{ item_room }}
                                  <br>
                                  Учбове місце: {{ item_place }}
                              </td>
                          </tr>
                          <tr>
                              <td colspan="2" align="center">
                                  <h3>Компоненти</h3>
                              </td>
<!--                              <td>2</td>-->
                          </tr>
                          <tr>
                              <td>
                                  <h3>Материнська плата</h3>
                              </td>
                              <td>
                                  <h3>Оптичний накопичувач</h3>
                              </td>
                          </tr>
                          <tr>
                              <td align="justify">
                                  {% if item_motherboard_serial_number %}
                                  Бренд: {{item_motherboard_brand}}
                                  <br>
                                  Модель: {{item_motherboard_model}}
                                  <br>
                                  Серійний номер: {{item_motherboard_serial_number}}
                                  <br>
                                  Форм-фактор: {{item_motherboard_form_factor}}
                                  <br>
                                  Тип слоту для ОЗУ: {{item_motherboard_type_ram_slot}}
                                  <br>

                                  {% if item.motherboard_integrated_graphics%}
                                  Інтегрована відеокарта: наявна
                                  {% else %}
                                  Інтегрована відеокарта: відсутня
                                  {% endif %}
                                  <br>
                                  {% if item.motherboard_integrated_sound_card%}
                                  Інтегрована звукова-карта: наявна
                                  {% else %}
                                  Інтегрована звукова-карта: відсутня
                                  {% endif %}
                                  <br>
                                  {% if item.motherboard_integrated_lan_card%}
                                  Інтегрована мережева-карта: наявна
                                  {% else %}
                                  Інтегрована мережева-карта: відсутня
                                  {% endif %}
                                  {% else %}
                                  Відсутня
                                  {% endif %}
                              </td>
                              <td>
                                  {% if item_optical_drive_serial_number %}
                                  Бренд: {{item_optical_drive_brand}}
                                  <br>
                                  Модель: {{item_optical_drive_model}}
                                  <br>
                                  Серійний номер: {{item_optical_drive_serial_number}}
                                  <br>
                                  Тип приводу: {{item_optical_drive_type_drive}}
                                  <br>
                                  Тип роз'єму: {{item_optical_drive_type_connector}}
                                  {% else %}
                                  Відсутній
                                  {% endif %}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h3>Твердотільний накопичувач</h3>
                              </td>
                              <td>
                                  <h3>Жорсткий магнітний диск</h3>
                              </td>
                          </tr>
                          <tr>
                              <td align="justify">
                                  {% if item_solid_state_drive_serial_number %}
                                  Бренд: {{item_solid_state_drive_brand}}
                                  <br>
                                  Модель: {{item_solid_state_drive_model}}
                                  <br>
                                  Серійний номер: {{item_solid_state_drive_serial_number}}
                                  <br>
                                  Обсяг пам'яті: {{item_solid_state_drive_memory_size}}GB
                                  {% else %}
                                  Відсутній
                                  {% endif %}
                              </td>
                              <td>
                                  {% if item_hard_disk_drive_serial_number %}
                                  Бренд: {{item_hard_disk_drive_brand}}
                                  <br>
                                  Модель: {{item_hard_disk_drive_model}}
                                  <br>
                                  Серійний номер: {{item_hard_disk_drive_serial_number}}
                                  <br>
                                  Обсяг пам'яті: {{item_hard_disk_drive_memory_size}}GB
                                  {% else %}
                                  Відсутній
                                  {% endif %}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h3>Відеокарта</h3>
                              </td>
                              <td>
                                  <h3>Блок живлення</h3>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  {% if item_video_card_serial_number %}
                                  Бренд: {{item_video_card_brand}}
                                  <br>
                                  Модель: {{item_video_card_model}}
                                  <br>
                                  Серійний номер: {{item_video_card_serial_number}}
                                  <br>
                                  Обсяг пам'яті: {{item_video_card_memory_size}}MB
                                  {% else %}
                                  Відсутня
                                  {% endif %}
                              </td>
                              <td>
                                  {% if item_power_supply_serial_number %}
                                   Бренд: {{item_power_supply_brand}}
                                  <br>
                                  Модель: {{item_power_supply_model}}
                                  <br>
                                  Серійний номер: {{item_power_supply_serial_number}}
                                  <br>
                                  Максимальна споживана потужність від мережі: {{item_power_supply_power_consumption}}W
                                  {% else %}
                                  Відсутній
                                  {% endif %}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <br>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h3>Звукова плата</h3>
                              </td>
                              <td>
                                  <h3>Мережева плата</h3>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  {% if item_sound_card_serial_number %}
                                  Бренд: {{item_sound_card_brand}}
                                  <br>
                                  Модель: {{item_sound_card_model}}
                                  <br>
                                  Серійний номер: {{item_sound_card_serial_number}}
                                  {% else %}
                                  Відсутня
                                  {% endif %}
                              </td>
                              <td>
                                  {% if item_lan_card_serial_number %}
                                  Бренд: {{item_lan_card_brand}}
                                  <br>
                                  Модель: {{item_lan_card_model}}
                                  <br>
                                  Серійний номер: {{item_lan_card_serial_number}}
                                  {% else %}
                                  Відсутня
                                  {% endif %}
                              </td>
                          </tr>
                          <tr>
                              <td colspan="2">
                                  <h3>Нотатки</h3>
                                  {{item_text_field}}
                              </td>
                          </tr>
                      </table>
                  </article>
              </div>
          </aside>
      </div>
  </div>
  </body>
</html>