{% extends 'base_main.html' %}

{% block title %}
Список обладнання
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">
                    <h1 align="center">Список IT-обладнання</h1><br>
                    <div class="row" align="center">
                        <div class="col-md-4">
                            <h4><a href="#pc" class="btn btn-outline-info" style="height:40px;width:220px">Персональні комп'ютори</a></h4>
                        </div>
                        <div class="col-md-4">
                            <h4><a href="#switch" class="btn btn-outline-info" style="height:40px;width:220px">Комутатори</a></h4>
                        </div>
                    </div>
                </article>
            </div>
        </aside>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body ">

                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1><a id="pc">Персональні комп'ютори</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="add-item/add-pc" class="badge badge-info">+</a></h1>
                            </td>
                        </tr>
                    </table>
                    <br>

                    {% if items_pc|length > 0 %}
                    {% for el in items_pc %}
                    <div class="alert alert-info">
                        <h2>Тип обладнання: {{ el.name_for_user }}</h2>
                        <h2>Інвентарний номер: {{ el.inventory_number }}</h2>
                        <a href="/IT_items/{{el.name}}/{{el.id}} " class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає персональних комп'ютерів</h3>
                    </div>
                    {% endif %}
                </article>
            </div>
      </aside>
   </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body ">

                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1><a id="switch">Комутатори</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="" class="badge badge-info">+</a></h1>
                            </td>
                        </tr>
                    </table>
                    <br>

<!--                    {% if items_pc|length > 0 %}-->
<!--                    {% for el in items_pc %}-->
<!--                    <div class="alert alert-info">-->
<!--                        <h2>Тип обладнання: {{ el.name_for_user }}</h2>-->
<!--                        <h2>Інвентарний номер: {{ el.inventory_number }}</h2>-->
<!--                        <a href="/IT_items/{{el.name}}/{{el.id}} " class="btn btn-info">Детальніше</a>-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                    {% else %}-->
<!--                    <div class="alert alert-info">-->
<!--                        <h3>У нас ще немає персональних комп'ютерів</h3>-->
<!--                    </div>-->
<!--                    {% endif %}-->
                    <div class="alert alert-info">
                        <h3>У розробці</h3>
                    </div>
                </article>
            </div>
      </aside>
   </div>
</div>
{% endblock %}
