{% extends 'base_main.html' %}

{% block title %}
{{ item.name }} - {{ item.inventory_number }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
      <aside class="col-sm-10">
         <div class="card">
            <article class="card-body">
                <div class="alert alert-info">

                    <h2 class="alert-heading">Основне</h2>
                    <hr>
                    <h5 align="justify">Тип обладнання: {{ item.name_for_user }}</h5>
                    <h5 align="justify">Інвентарний номер: {{ item.inventory_number }}</h5>
                    <hr>
                    <h2 class="alert-heading">Місцезнаходження</h2>
                    <hr>
                    <h5>Поверх: {{ item.floor }}</h5>
                    <h5>Кабінет: {{ item.room }}</h5>
                    <h5>Учбове місце: {{ item.place }}</h5>
                    <hr>
                    <h2 class="alert-heading">Компоненти</h2>
                    <hr>
                    {% if item.name == 'PC' %}

                         <table class="col-sm-12" border="0">
                            <tr>
                                <td>
                                   <h3 class="alert-heading">Материнська плата</h3>
                                </td>
                                <td align="right">
                                    {% if item.motherboard %}
<!--                                    <h1><a href="" class="badge badge-info">+-</a></h1>-->
                                    <a href="/IT_items/pc_accessories/{{ item.motherboard.name }}/{{ item.motherboard.id }}/update-motherboard" class="btn btn-success">Редагування</a>
                                     {% endif %}
                                </td>
                            </tr>
                        </table>

                        <hr>

                        {% if item.motherboard %}
                            <h5>Бренд: {{item.motherboard.brand}}</h5>
                            <h5>Модель: {{item.motherboard.model}}</h5>
                            <h5>Серійний номер: {{item.motherboard.serial_number}}</h5>
                            <h5>Форм-фактор: {{item.motherboard.form_factor}}</h5>
                            <h5>Тип слоту для ОЗУ: {{item.motherboard.type_ram_slot}}</h5>
                            <br>

                            {% if item.motherboard.integrated_graphics%}
                                <h5>Інтегрована відеокарта: наявна</h5>
                            {% else %}
                                <h5>Інтегрована відеокарта: відсутня</h5>
                            {% endif %}

                            {% if item.motherboard.integrated_sound_card%}
                                <h5>Інтегрована звукова-карта: наявна</h5>
                            {% else %}
                                <h5>Інтегрована звукова-карта: відсутня</h5>
                            {% endif %}

                            {% if item.motherboard.integrated_lan_card%}
                                <h5>Інтегрована мережева-карта: наявна</h5>
                            {% else %}
                                <h5>Інтегрована мережева-карта: відсутня</h5>
                            {% endif %}
                        {% else %}
                            <h5>Відсутня</h5>
                        {% endif %}

                        <hr>
                         <table class="col-sm-12" border="0">
                                <tr>
                                    <td>
                                        <h3 class="alert-heading">Блок живлення</h3>
                                    </td>
                                    <td align="right">
                                        {% if item.power_supply %}
    <!--                                    <h1><a href="" class="badge badge-info">+-</a></h1>-->
                                        <a href="/IT_items/pc_accessories/{{ item.power_supply.name }}/{{ item.power_supply.id }}/update-power-supply" class="btn btn-success">Редагування</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        <hr>

                        {% if item.power_supply %}
                            <h5>Бренд: {{item.power_supply.brand}}</h5>
                            <h5>Модель: {{item.power_supply.model}}</h5>
                            <h5>Серійний номер: {{item.power_supply.serial_or_inventory_number}}</h5>
                            <h5>Максимальна споживана потужність від мережі: {{item.power_supply.power_consumption}}W</h5>
                        {% else %}
                            <h5>Відсутній</h5>
                        {% endif %}

                        <hr>
                        <table class="col-sm-12" border="0">
                                <tr>
                                    <td>
                                        <h3 class="alert-heading">Відео карта</h3>
                                    </td>
                                    <td align="right">
                                        {% if item.video_card %}
    <!--                                    <h1><a href="" class="badge badge-info">+-</a></h1>-->
                                        <a href="/IT_items/pc_accessories/{{ item.video_card.name }}/{{ item.video_card.id }}/update-video-card" class="btn btn-success">Редагування</a>
                                        {% endif %}
                                    </td>
                                </tr>
                        </table>

                        <hr>

                        {% if item.video_card %}
                            <h5>Бренд: {{item.video_card.brand}}</h5>
                            <h5>Модель: {{item.video_card.model}}</h5>
                            <h5>Серійний номер: {{item.video_card.serial_number}}</h5>
                            <h5>Обсяг пам'яті: {{item.video_card.memory_size}} MB</h5>
                        {% else %}
                            <h5>Відсутній</h5>
                        {% endif %}

                        <hr>
                        <table class="col-sm-12" border="0">
                                <tr>
                                    <td>
                                        <h3 class="alert-heading">Мережева плата</h3>
                                    </td>
                                    <td align="right">
                                        {% if item.lan_card %}
    <!--                                    <h1><a href="" class="badge badge-info">+-</a></h1>-->
                                        <a href="/IT_items/pc_accessories/{{ item.lan_card.name }}/{{ item.lan_card.id }}/update-lan-card" class="btn btn-success">Редагування</a>
                                        {% endif %}
                                    </td>
                                </tr>
                        </table>

                        <hr>

                        {% if item.lan_card %}
                            <h5>Бренд: {{item.lan_card.brand}}</h5>
                            <h5>Модель: {{item.lan_card.model}}</h5>
                            <h5>Серійний номер: {{item.lan_card.serial_number}}</h5>
                        {% else %}
                            <h5>Відсутній</h5>
                        {% endif %}

                        <hr>


                    {% elif item.name == 'Switch' %}
<!--                        <h4>Кількість Ethernet портів: {{ item.count_of_ports }}</h4>-->
                    {% endif %}

                    <div class="row">
                        <div class="col-md-9">
                            <a href="/IT_items/{{ item.name }}/{{ item.id }}/del" class="btn btn-danger">Видалити</a>

                            {% if item.name == 'PC' %}
                            <a href="/IT_items/{{ item.name }}/{{ item.id }}/update-pc" class="btn btn-success">Редагування</a>
                            {% endif %}

                        </div>
<!--                        <div class="col-md-3">-->
<!--                            <a href="/IT_items/{{ item.name }}/{{ item.id }}/pdf" class="btn btn-warning">Створити PDF</a>-->
<!--                        </div>-->
                    </div>

                </div>
            </article>
         </div>
      </aside>
    </div>
</div>
{% endblock %}

