{% extends 'base_main.html' %}

{% block title %}
{% if item.name == 'Motherboard' %}
{{ item.name }} - {{ item.serial_number }}
{% elif item.name == 'SolidStateDrive' %}
{{ item.name }} - {{ item.serial_number }}
{% elif item.name == 'PowerSupply' %}
{{ item.name }} - {{ item.serial_or_inventory_number }}
{% elif item.name == 'VideoCard' %}
{{ item.name }} - {{ item.serial_number }}
{% elif item.name == 'LanCard' %}
{{ item.name }} - {{ item.serial_number }}
{% elif item.name == 'SoundCard' %}
{{ item.name }} - {{ item.serial_number }}
{% elif item.name == 'OpticalDrive' %}
{{ item.name }} - {{ item.serial_number }}
{% endif %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
      <aside class="col-sm-10">
         <div class="card">
            <article class="card-body">
                <div class="alert alert-info">

                    <h3 class="alert-heading">{{ item.name_for_user }}</h3>
                    <hr>

                    {% if item.name == 'Motherboard' %}

                    <h5>Бренд: {{item.brand}}</h5>
                    <h5>Модель: {{item.model}}</h5>
                    <h5>Серійний номер: {{item.serial_number}}</h5>
                    <h5>Форм-фактор: {{item.form_factor}}</h5>
                    <h5>Тип слоту для ОЗУ: {{item.type_ram_slot}}</h5>
                    <hr>

                    {% if item.integrated_graphics%}
                    <h5>Інтегрована відеокарта: наявна</h5>
                    {% else %}
                    <h5>Інтегрована відеокарта: відсутня</h5>
                    {% endif %}

                    {% if item.integrated_sound_card%}
                    <h5>Інтегрована звукова-карта: наявна</h5>
                    {% else %}
                    <h5>Інтегрована звукова-карта: відсутня</h5>
                    {% endif %}

                    {% if item.integrated_lan_card%}
                    <h5>Інтегрована мережева-карта: наявна</h5>
                    {% else %}
                    <h5>Інтегрована мережева-карта: відсутня</h5>
                    {% endif %}

                    <hr>

                    {% elif item.name == 'SolidStateDrive' %}

                    <h5>Бренд: {{item.brand}}</h5>
                    <h5>Модель: {{item.model}}</h5>
                    <h5>Серійний номер: {{item.serial_number}}</h5>
                    <h5>Обсяг пам'яті: {{item.memory_size}} GB</h5>
                    <hr>

                    {% elif item.name == 'PowerSupply' %}

                    <h5>Бренд: {{item.brand}}</h5>
                    <h5>Модель: {{item.model}}</h5>
                    <h5>Серійний номер: {{item.serial_or_inventory_number}}</h5>
                    <h5>Максимальна споживана потужність від мережі: {{item.power_consumption}} Вт</h5>
                    <hr>

                    {% elif item.name == 'VideoCard' %}

                    <h5>Бренд: {{item.brand}}</h5>
                    <h5>Модель: {{item.model}}</h5>
                    <h5>Серійний номер: {{item.serial_number}}</h5>
                    <h5>Обсяг пам'яті: {{item.memory_size}} MB</h5>
                    <hr>

                     {% elif item.name == 'LanCard' %}

                    <h5>Бренд: {{item.brand}}</h5>
                    <h5>Модель: {{item.model}}</h5>
                    <h5>Серійний номер: {{item.serial_number}}</h5>
                    <hr>

                    {% elif item.name == 'SoundCard' %}

                    <h5>Бренд: {{item.brand}}</h5>
                    <h5>Модель: {{item.model}}</h5>
                    <h5>Серійний номер: {{item.serial_number}}</h5>
                    <hr>

                    {% elif item.name == 'OpticalDrive' %}

                    <h5>Бренд: {{item.brand}}</h5>
                    <h5>Модель: {{item.model}}</h5>
                    <h5>Серійний номер: {{item.serial_number}}</h5>
                    <h5>Тип приводу: {{item.type_drive}}</h5>
                    <h5>Тип роз'єму: {{item.type_connector}}</h5>
                    <hr>

                    {% endif %}

                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/del" class="btn btn-info btn-outline-light">Видалити</a>
                    {% if item.name == 'Motherboard' %}
<!--                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/del-motherboard" class="btn btn-danger">Видалити</a>-->
                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/update-motherboard" class="btn btn-info btn-outline-light">Редагування</a>
                    {% elif item.name == 'SolidStateDrive' %}
                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/update-solid-state-drive" class="btn btn-info btn-outline-light">Редагування</a>
                    {% elif item.name == 'PowerSupply' %}
<!--                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/del-power-supply" class="btn btn-danger">Видалити</a>-->
                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/update-power-supply" class="btn btn-info btn-outline-light">Редагування</a>
                    {% elif item.name == 'VideoCard' %}
<!--                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/del-video-card" class="btn btn-danger">Видалити</a>-->
                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/update-video-card" class="btn btn-info btn-outline-light">Редагування</a>
                    {% elif item.name == 'LanCard' %}
<!--                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/del-lan-card" class="btn btn-danger">Видалити</a>-->
                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/update-lan-card" class="btn btn-info btn-outline-light">Редагування</a>
                    {% elif item.name == 'SoundCard' %}
<!--                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/del-sound-card" class="btn btn-danger">Видалити</a>-->
                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/update-sound-card" class="btn btn-info btn-outline-light">Редагування</a>
                    {% elif item.name == 'OpticalDrive' %}
                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/update-optical-drive" class="btn btn-info btn-outline-light">Редагування</a>
                    {% endif %}

                </div>
            </article>
         </div>
      </aside>
    </div>
</div>
{% endblock %}

