{% extends 'base_main.html' %}

{% block title %}
{% if item.name == 'Motherboard' %}
{{ item.name }} - {{ item.serial_number }}
{% elif item.name == 'PowerSupply' %}
{{ item.name }} - {{ item.serial_or_inventory_number }}
{% endif %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
      <aside class="col-sm-10">
         <div class="card">
            <article class="card-body">
                <div class="alert alert-info">

                    <h3 class="alert-heading">{{ item.name_for_user }}</h3>
                    <hr>

                    {% if item.name == 'Motherboard' %}

                        <h5>Бренд: {{item.brand}}</h5>
                        <h5>Модель: {{item.model}}</h5>
                        <h5>Серійний номер: {{item.serial_number}}</h5>
                        <hr>

                        {% if item.integrated_graphics%}
                            <h5>Інтегрована відеокарта: наявна</h5>
                        {% else %}
                            <h5>Інтегрована відеокарта: відсутня</h5>
                        {% endif %}

                        {% if item.integrated_sound_card%}
                            <h5>Інтегрована звукова-карта: наявна</h5>
                        {% else %}
                            <h5>Інтегрована звукова-карта: відсутня</h5>
                        {% endif %}

                        {% if item.integrated_lan_card%}
                            <h5>Інтегрована мережева-карта: наявна</h5>
                        {% else %}
                            <h5>Інтегрована мережева-карта: відсутня</h5>
                        {% endif %}

                        <hr>

                    {% elif item.name == 'PowerSupply' %}

                        <h5>Бренд: {{item.brand}}</h5>
                        <h5>Модель: {{item.model}}</h5>
                        <h5>Серійний номер: {{item.serial_or_inventory_number}}</h5>
                        <h5>Максимальна споживана потужність від мережі: {{item.power_consumption}} Вт</h5>
                        <hr>

                    {% endif %}

                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/del" class="btn btn-danger">Видалити</a>
                    {% if item.name == 'Motherboard' %}
                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/update-motherboard" class="btn btn-success">Редагування</a>
                    {% elif item.name == 'PowerSupply' %}
                    <a href="/IT_items/pc_accessories/{{ item.name }}/{{ item.id }}/update-power-supply" class="btn btn-success">Редагування</a>
                    {% endif %}

                </div>
            </article>
         </div>
      </aside>
    </div>
</div>
{% endblock %}

