{% extends 'base_main.html' %}

{% block title %}
Список комплектуючих
{% endblock %}

{% block body %}

<style>

</style>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">
                    <h1 align="center">Список комплектуючих</h1><br>
                    <div class="row" align="center">
                        <div class="col-md-4">
                            <h4><a href="#motherboard" class="btn btn-outline-info" style="height:40px;width:240px">Материнські плати</a></h4>
                        </div>
                        <div class="col-md-4">
                            <h4><a href="#power-supply" class="btn btn-outline-info" style="height:40px;width:240px">Блоки живлення</a></h4>
                        </div>
                        <div class="col-md-4">
                            <h4><a href="#video-card" class="btn btn-outline-info" style="height:40px;width:240px">Відеокарти</a></h4>
                        </div>
                        <div class="col-md-4">
                            <h4><a href="#lan-card" class="btn btn-outline-info" style="height:40px;width:240px">Мережеві плати</a></h4>
                        </div>
                        <div class="col-md-4">
                            <h4><a href="#sound-card" class="btn btn-outline-info" style="height:40px;width:240px">Звукові плати</a></h4>
                        </div>
                        <div class="col-md-4">
                            <h4><a href="#optical-drive" class="btn btn-outline-info" style="height:40px;width:240px">Оптичні накопичувачі</a></h4>
                        </div>
                        <div class="col-md-4">
                            <h4><a href="#solid-state-drive" class="btn btn-outline-info" style="height:40px;width:240px">Твердотільні накопичувачі</a></h4>
                        </div>
                        <div class="col-md-4">
                            <h4><a href="#hard-disk-drive" class="btn btn-outline-info" style="height:40px;width:240px">Жорсткі магнітні диски</a></h4>
                        </div>
                    </div>
                </article>
            </div>
        </aside>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">

                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1><a id="motherboard">Материнські плати</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="add-item/add-motherboard" class="badge badge-info">+</a></h1>
                        </tr>
                    </table>
                    <br>

                    {% if items_motherboard|length > 0 %}
                    {% for el in items_motherboard %}
                    <div class="alert alert-info">
                        <h2>Модель: {{el.brand}} {{ el.model }}</h2>
                        <h2>Серійний номер: {{ el.serial_number }}</h2>
                        <a href="/IT_items/pc_accessories/{{el.name}}/{{el.id}}" class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає материнських плат</h3>
                    </div>
                    {% endif %}
                </article>
            </div>
      </aside>
   </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">

                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1><a id="solid-state-drive">Твердотільні накопичувачі</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="add-item/add-solid-state-drive" class="badge badge-info">+</a></h1>
                        </tr>
                    </table>
                    <br>

                    {% if items_solid_state_drive|length > 0 %}
                    {% for el in items_solid_state_drive %}
                    <div class="alert alert-info">
                        <h2>Модель: {{el.brand}} {{ el.model }}</h2>
                        <h2>Серійний номер: {{ el.serial_number }}</h2>
                        <a href="/IT_items/pc_accessories/{{el.name}}/{{el.id}}" class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає твердотільних накопичувачів</h3>
                    </div>
                    {% endif %}
                </article>
            </div>
      </aside>
   </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">

                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1><a id="hard-disk-drive">Жорсткі магнітні диски</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="add-item/add-hard-disk-drive" class="badge badge-info">+</a></h1>
                        </tr>
                    </table>
                    <br>

                    {% if items_hard_disk_drive|length > 0 %}
                    {% for el in items_hard_disk_drive %}
                    <div class="alert alert-info">
                        <h2>Модель: {{el.brand}} {{ el.model }}</h2>
                        <h2>Серійний номер: {{ el.serial_number }}</h2>
                        <a href="/IT_items/pc_accessories/{{el.name}}/{{el.id}}" class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає материнських плат</h3>
                    </div>
                    {% endif %}
                </article>
            </div>
      </aside>
   </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
            <article class="card-body">
                <table class="col-sm-12" border="0">
                    <tr>
                        <td>
                            <h1><a id="power-supply">Блоки живлення</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="add-item/add-power-supply" class="badge badge-info">+</a></h1>
                            </td>
                        </tr>
                </table>
                    <br>

                    {% if items_power_supply|length > 0 %}
                    {% for el in items_power_supply %}
                    <div class="alert alert-info">
                        <h2>Модель: {{el.brand}} {{ el.model }}</h2>
                        <h2>Серійний номер: {{ el.serial_or_inventory_number }}</h2>
                        <a href="/IT_items/pc_accessories/{{el.name}}/{{el.id}}" class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає блоків живлення</h3>
                    </div>
                    {% endif %}

            </article>
            </div>
        </aside>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">
                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1><a id="video-card">Відеокарти</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="add-item/add-video-card" class="badge badge-info">+</a></h1>
                            </td>
                        </tr>
                    </table>
                    <br>

                    {% if items_video_card|length > 0 %}
                    {% for el in items_video_card %}
                    <div class="alert alert-info">
                        <h2>Модель: {{el.brand}} {{ el.model }}</h2>
                        <h2>Серійний номер: {{ el.serial_number }}</h2>
                        <a href="/IT_items/pc_accessories/{{el.name}}/{{el.id}}" class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає відеокарт</h3>
                    </div>
                    {% endif %}
                </article>
            </div>
        </aside>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">
                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1><a id="lan-card">Мережеві плати</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="add-item/add-lan-card" class="badge badge-info">+</a></h1>
                            </td>
                        </tr>
                    </table>
                    <br>

                    {% if items_lan_cards|length > 0 %}
                    {% for el in items_lan_cards %}
                    <div class="alert alert-info">
                        <h2>Модель: {{el.brand}} {{ el.model }}</h2>
                        <h2>Серійний номер: {{ el.serial_number }}</h2>
                        <a href="/IT_items/pc_accessories/{{el.name}}/{{el.id}}" class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає мережевих плат</h3>
                    </div>
                    {% endif %}
                </article>
            </div>
        </aside>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">
                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1><a id="sound-card">Звукові плати</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="add-item/add-sound-card" class="badge badge-info">+</a></h1>
                            </td>
                        </tr>
                    </table>
                    <br>

                    {% if items_sound_cards|length > 0 %}
                    {% for el in items_sound_cards %}
                    <div class="alert alert-info">
                        <h2>Модель: {{el.brand}} {{ el.model }}</h2>
                        <h2>Серійний номер: {{ el.serial_number }}</h2>
                        <a href="/IT_items/pc_accessories/{{el.name}}/{{el.id}}" class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає звукових плат</h3>
                    </div>
                    {% endif %}
                </article>
            </div>
        </aside>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">
                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1><a id="optical-drive">Оптичні накопичувачі</a></h1>
                            </td>
                            <td align="right">
                                <h1><a href="add-item/add-optical-drive" class="badge badge-info">+</a></h1>
                            </td>
                        </tr>
                    </table>
                    <br>

                    {% if items_optical_drive|length > 0 %}
                    {% for el in items_optical_drive %}
                    <div class="alert alert-info">
                        <h2>Модель: {{el.brand}} {{ el.model }}</h2>
                        <h2>Серійний номер: {{ el.serial_number }}</h2>
                        <a href="/IT_items/pc_accessories/{{el.name}}/{{el.id}}" class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає оптичних накопичувачів</h3>
                    </div>
                    {% endif %}
                </article>
            </div>
        </aside>
    </div>
</div>

{% endblock %}
