{% extends 'base_main.html' %}

{% block title %}
    Оновлення ПК
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-8">
            <div class="card">
                <article class="card-body">
                    <h1>Оновлення ПК</h1>

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <table class="col-sm-12" align="center" border="1">
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>Тип обладнання:</p>
                                        <input disabled type="text" class="form-control" value="{{ item.name_for_user }}" placeholder="Введіть тип обладнанням">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
<!--                                        &lt;!&ndash;Name of input&ndash;&gt;-->
<!--                                        <p>{{ form.inventory_number.label }}:</p>-->
<!--                                        {{ form.inventory_number }}-->

<!--                                        &lt;!&ndash;Show help text for field&ndash;&gt;-->
<!--                                        {% if form.inventory_number.help_text %}-->
<!--                                        <br><small style="color: grey">{{ form.inventory_number.help_text }}</small>-->
<!--                                        {% endif %}-->

<!--                                        &lt;!&ndash;Show error text for field&ndash;&gt;-->
<!--                                        {% for error in form.inventory_number.errors %}-->
<!--                                        <p style="color: red">{{ error }}</p>-->
<!--                                        {% endfor %}-->
                                        <p>Інвентарний номер:</p>
                                        <input type="text" name="inventory_number" id="inventory_number" class="form-control" value="{{ item.inventory_number }}" placeholder="Введіть інвентарний номер">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="49%">
                                        <!--Name of input-->
<!--                                        <p>{{ form.floor.label }}:</p>-->
<!--                                        {{ form.floor }}-->

<!--                                        &lt;!&ndash;Show help text for field&ndash;&gt;-->
<!--                                        {% if form.floor.help_text %}-->
<!--                                        <br><small style="color: grey">{{ form.floor.help_text }}</small>-->
<!--                                        {% endif %}-->

<!--                                        &lt;!&ndash;Show error text for field&ndash;&gt;-->
<!--                                        {% for error in form.floor.errors %}-->
<!--                                        <p style="color: red">{{ error }}</p>-->
<!--                                        {% endfor %}-->
                                        <p>Поверх:</p>
                                        <input type="text" name="floor" id="floor" class="form-control" value="{{ item.floor }}" placeholder="Введіть номер поверху">
                                    </td>
                                    <td width="2%">

                                    </td>
                                    <td width="49%">
<!--                                        &lt;!&ndash;Name of input&ndash;&gt;-->
<!--                                        <p>{{ form.room.label }}:</p>-->
<!--                                        {{ form.room }}-->

<!--                                        &lt;!&ndash;Show help text for field&ndash;&gt;-->
<!--                                        {% if form.room.help_text %}-->
<!--                                        <br><small style="color: grey">{{ form.room.help_text }}</small>-->
<!--                                        {% endif %}-->

<!--                                        &lt;!&ndash;Show error text for field&ndash;&gt;-->
<!--                                        {% for error in form.room.errors %}-->
<!--                                        <p style="color: red">{{ error }}</p>-->
<!--                                        {% endfor %}-->
                                        <p>Кабінет:</p>
                                        <input type="text" name="room" id="room" class="form-control" value="{{ item.room }}" placeholder="Введіть номер кабінету">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
<!--                                        &lt;!&ndash;Name of input&ndash;&gt;-->
<!--                                        <p>{{ form.place.label }}</p>-->
<!--                                        {{ form.place }}-->

<!--                                        &lt;!&ndash;Show help text for field&ndash;&gt;-->
<!--                                        {% if form.place.help_text %}-->
<!--                                        <br><small style="color: grey">{{ form.place.help_text }}</small>-->
<!--                                        {% endif %}-->

<!--                                        &lt;!&ndash;Show error text for field&ndash;&gt;-->
<!--                                        {% for error in form.place.errors %}-->
<!--                                        <p style="color: red">{{ error }}</p>-->
<!--                                        {% endfor %}-->
                                        <p>Учбове місце:</p>
                                        <input type="text" name="place" id="place" class="form-control" value="{{ item.place }}" placeholder="Введіть номер поверху">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>Материнська плата:</p>
                                        <!--Name of field-->
<!--                                        {{ form.motherboard.label_tag }}-->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        <div class="mx-auto" style="width: 75%">
                                            <select class="form-control" name="motherboard" id="motherboard">

                                                {% for motherboard in motherboards %}
                                                <option {% if motherboard == item.motherboard %} selected {% endif %}
                                                        >
                                                    {% if motherboard %}
                                                    {{ motherboard }}
                                                    {% endif %}
                                                </option>
                                                {% endfor %}




                                            </select>
<!--                                            &lt;!&ndash;Name of input&ndash;&gt;-->
<!--                                            {{ form.motherboard }}-->

<!--                                            &lt;!&ndash;Show help text for field&ndash;&gt;-->
<!--                                            {% if form.motherboard.help_text %}-->
<!--                                            <br><small style="color: grey">{{ form.motherboard.help_text }}</small>-->
<!--                                            {% endif %}-->

<!--                                            &lt;!&ndash;Show error text for field&ndash;&gt;-->
<!--                                            {% for error in form.motherboard.errors %}-->
<!--                                            <p style="color: red">{{ error }}</p>-->
<!--                                            {% endfor %}-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>Блок живлення:</p>
<!--                                        &lt;!&ndash;Name of field&ndash;&gt;-->
<!--                                        {{ form.power_supply.label_tag }}-->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
<!--                                        <div class="mx-auto" style="width: 75%">-->
<!--                                            &lt;!&ndash;Name of input&ndash;&gt;-->
<!--                                            {{ form.power_supply }}-->

<!--                                            &lt;!&ndash;Show help text for field&ndash;&gt;-->
<!--                                            {% if form.power_supply.help_text %}-->
<!--                                            <br><small style="color: grey">{{ form.power_supply.help_text }}</small>-->
<!--                                            {% endif %}-->

<!--                                            &lt;!&ndash;Show error text for field&ndash;&gt;-->
<!--                                            {% for error in form.power_supply.errors %}-->
<!--                                            <p style="color: red">{{ error }}</p>-->
<!--                                            {% endfor %}-->
<!--                                        </div>-->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <input type="submit" class="btn btn-success" value="Оновити">
                    </form>
                </article>
            </div>
        </aside>
    </div>
</div>
{% endblock %}
