{% extends 'base_main.html' %}

{% block title %}
    {% if item.name == 'PowerSupply' %}
    Оновлення блока живлення
    {% endif %}
{% endblock %}
{% block body %}
<div class="container mt-5">
   <div class="d-flex justify-content-center">
      <aside class="col-sm-8">
         <div class="card">
            <article class="card-body">

                 {% if item.name == 'PowerSupply' %}
                    <h1>Оновлення блока живлення</h1>

                    <form method="post">
                    {% csrf_token %}
                    <div class="">
                        <div class="form-group">
                            <table class="col-sm-12" align="center" border="0">
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>Тип обладнання:</p>
                                        <input type="text" disabled name="name_power_supply" id="name_power_supply" class="form-control" value="{{ item.name_for_user }}" placeholder="Введіть тип обладнанням">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>Серійний номер:</p>
                                        <input type="text" name="power_supply_serial_number_or_inventory_number" id="power_supply_serial_number_or_inventory_number" class="form-control" value="{{ item.serial_or_inventory_number }}" placeholder="Введіть серійний номер">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="50%">
                                        <p>Модель:</p>
                                        <input type="text" name="power_supply_model" id="power_supply_model" class="form-control" value="{{ item.model }}" placeholder="Введіть модель">
                                    </td>
                                    <td>
                                        <p>Бренд:</p>
                                        <input type="text" name="power_supply_brand" id="power_supply_brand" class="form-control" value="{{ item.brand }}" placeholder="Введіть бренд">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>Максимальна споживана потужність від мережі:</p>
                                        <input type="text" name="power_supply_power_consumption" id="power_supply_power_consumption" class="form-control" value="{{ item.power_consumption }}" placeholder="Введіть максимальну споживану потужність від мережі">
                                    </td>
                                </tr>
                                 <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-outline-info" value="Оновити">
                </form>

                {% endif %}

            </article>
         </div>
      </aside>
   </div>
</div>
{% endblock %}

