{% extends 'base_main.html' %}

{% block title %}
Акт виконаних робіт
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body">
                    <table align="center" width="100%" border="0">
                        <tr align="center">
                            <td width="60%" rowspan="2">
                                <h1>{{item.name_for_user}}</h1>
                            </td>
                            <td width="40%">
                                <h1>{{item.inventory_number}}</h1>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <h5>
                                    <a href="/IT_items/{{ item.name }}/{{ item.id }}" class="badge badge-info">
                                        Повернутися до паспорта обладнання
                                    </a>
                                </h5>
                            </td>
                        </tr>
                    </table>
                </article>
            </div>
        </aside>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-10">
            <div class="card">
                <article class="card-body ">

                    <table class="col-sm-12" border="0">
                        <tr>
                            <td>
                                <h1>Акти виконаних робіт</h1>
                            </td>
                            <td align="right">
                                <h1><a href="/IT_items/{{ item.name }}/{{ item.id }}/add_work_report" class="badge badge-info">+</a></h1>
                            </td>
                        </tr>
                    </table>
                    <br>

                    {% if reports|length > 0 %}
                    {% for el in reports %}
                    <div class="alert alert-info">
                        <h3>Час створення: {{ el.created_date }}</h3>
                        <a href="/IT_items/{{item.name}}/{{item.id}}/work_reports/{{el.inventory_number_pc}}/{{el.id}}" class="btn btn-info">Детальніше</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-info">
                        <h3>У нас ще немає актів виконаних робіт</h3>
                    </div>
                    {% endif %}
                </article>
            </div>
      </aside>
   </div>
</div>

{% endblock %}
