<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>

    <style>

    </style>

    <script>
<!--        $('.collapse').collapse()-->
    </script>

</head>
<body>

    {% if user.is_authenticated %}
        <div class="d-flex justify-content-between flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <nav class="my-2 my-md-0 mr-md-3">
                <h4 class="my-0 mr-md-auto font-weight-normal">База даних - обладнання ФКНК КНУ</h4>
            </nav>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="btn btn-outline-secondary" href="/" role="button">Головна</a>
                <a class="btn btn-outline-secondary" href="/IT_items" role="button">Список IT-обладнання</a>
                <a class=" btn btn-outline-success" href="/IT_items/add-item">Додати</a>
            </nav>
        </div>
    {% else %}
    <div class="d-flex justify-content-center flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
         <h5 class="my-0 font-weight-normal">База даних - обладнання ФКНК КНУ</h5>
    </div>
    {% endif %}

    {% block body %}{% endblock %}

    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
<!--            <img class="mb-2" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">-->
<!--            <small class="d-block mb-3 text-muted">© 2017-2020</small>-->
          </div>
          <div class="col-6 col-md">
<!--            <h5>Features</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--              <li><a class="text-muted" href="#">Cool stuff</a></li>-->
<!--              <li><a class="text-muted" href="#">Random feature</a></li>-->
<!--              <li><a class="text-muted" href="#">Team feature</a></li>-->
<!--              <li><a class="text-muted" href="#">Stuff for developers</a></li>-->
<!--              <li><a class="text-muted" href="#">Another one</a></li>-->
<!--              <li><a class="text-muted" href="#">Last time</a></li>-->
<!--            </ul>-->
          </div>
          <div class="col-6 col-md">
<!--            <h5>Resources</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--              <li><a class="text-muted" href="#">Resource</a></li>-->
<!--              <li><a class="text-muted" href="#">Resource name</a></li>-->
<!--              <li><a class="text-muted" href="#">Another resource</a></li>-->
<!--              <li><a class="text-muted" href="#">Final resource</a></li>-->
<!--            </ul>-->
          </div>
          <div class="col-6 col-md">
<!--            <h5>About</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--              <li><a class="text-muted" href="#">Team</a></li>-->
<!--              <li><a class="text-muted" href="#">Locations</a></li>-->
<!--              <li><a class="text-muted" href="#">Privacy</a></li>-->
<!--              <li><a class="text-muted" href="#">Terms</a></li>-->
<!--            </ul>-->
          </div>
        </div>
      </footer>
</body>
</html>