{% extends 'base_main.html' %}

{% block title %}
    Оновлення ПК
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <aside class="col-sm-8">
            <div class="card">
                <article class="card-body">
                    <h1>Оновлення ПК</h1>

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <table class="col-sm-12" align="center" border="0">
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>Тип обладнання:</p>
                                        <input disabled type="text" class="form-control" value="{{ item.name_for_user }}" placeholder="Введіть тип обладнанням">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>Інвентарний номер:</p>
                                        <input type="text" name="inventory_number" id="inventory_number" class="form-control" value="{{ item.inventory_number }}" placeholder="Введіть інвентарний номер">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="49%">
                                        <p>Поверх:</p>
                                        <input type="text" name="floor" id="floor" class="form-control" value="{{ item.floor }}" placeholder="Введіть номер поверху">
                                    </td>
                                    <td width="2%">

                                    </td>
                                    <td width="49%">
                                        <p>Кабінет:</p>
                                        <input type="text" name="room" id="room" class="form-control" value="{{ item.room }}" placeholder="Введіть номер кабінету">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Учбове місце:</p>
                                        <input type="text" name="place" id="place" class="form-control" value="{{ item.place }}" placeholder="Введіть номер поверху">
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>Материнська плата:</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        <div class="mx-auto" style="width: 75%">
                                            <select class="form-control" name="motherboard" id="motherboard">
                                                <option value="None">Відсутня</option>
                                                {% for motherboard in motherboards %}
                                                <option {% if motherboard == item.motherboard %} selected {% endif %}
                                                        value="{{ motherboard }}">
                                                    {{ motherboard }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>Блок живлення:</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        <div class="mx-auto" style="width: 75%">
                                            <select class="form-control" name="power_supply" id="power_supply">
                                                <option value="None">Відсутній</option>
                                                {% for power_supply in power_supplies %}
                                                <option {% if power_supply == item.power_supply %} selected {% endif %}
                                                        value="{{ power_supply }}">
                                                    {{ power_supply }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>Відео карта:</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        <div class="mx-auto" style="width: 75%">
                                            <select class="form-control" name="video_card" id="video_card">
                                                <option value="None">Відсутній</option>
                                                {% for video_card in video_cards %}
                                                <option {% if video_card == item.video_card %} selected {% endif %}
                                                        value="{{ video_card }}">
                                                    {{ video_card }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>Мережева плата:</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        <div class="mx-auto" style="width: 75%">
                                            <select class="form-control" name="lan_card" id="lan_card">
                                                <option value="None">Відсутній</option>
                                                {% for lan_card in lan_cards %}
                                                <option {% if lan_card == item.lan_card %} selected {% endif %}
                                                        value="{{ lan_card }}">
                                                    {{ lan_card }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <input type="submit" class="btn btn-outline-secondary" value="Оновити">
                    </form>
                </article>
            </div>
        </aside>
    </div>
</div>
{% endblock %}
