{% extends 'base_main.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}


<script>

     var motherboard_brand = {
     type: 'doughnut',
     data: {
        datasets: [{
            data: {{ data_motherboard_brand|safe }},
            backgroundColor: [
               'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            label: ''
        }],
        labels: {{ labels_motherboard_brand|safe }}
        },
        options: {
            title: {
                display: true,
                text: 'Бренд'

            },
            animation: {
                duration: 2700,
            }
        }
     };

     var motherboard_form_factor = {
     type: 'doughnut',
     data: {
        datasets: [{
            data: {{ data_motherboard_form_factor|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            label: ''
        }],
        labels: {{ labels_motherboard_form_factor|safe }}
        },
        options: {
            title: {
                display: true,
                text: 'Форм-фактор'
            },
            animation: {
                duration: 2700,
            }
        }
     };


     var motherboard_integrated_items = {
     type: 'horizontalBar',
     data: {
        datasets: [{
            barPercentage: 0.5,
            barThickness: 50,
            maxBarThickness: 50,
            minBarLength: 10,
            data: {{ data_motherboard_integrated_items|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'

            ],
            label: ''
        }],
        labels: {{ labels_motherboard_integrated_items|safe }}
        },
        options: {
            title: {
                display: true,
                text: 'Інтегровані елементи'

            },

            animation: {
                duration: 2700,
            },

            scales: {
                yAxes: [{
                  id: 'y-axis-0',
                  gridLines: {
                    display: false
                  },
                  ticks: {
                    beginAtZero:true,
                  },
                  afterBuildTicks: function(chart) {

                  }
                }],
                xAxes: [{
                  id: 'x-axis-0',
                  gridLines: {
                    display: true
                  },
                  ticks: {
                    beginAtZero: true,
                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                  }
                }]
            }
        }
     };


     var motherboard_ram = {
     type: 'bar',
     data: {
        datasets: [{
            barPercentage: 0.5,
            barThickness: 50,
            maxBarThickness: 50,
            minBarLength: 10,
            data: {{ data_motherboard_ram|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'

            ],
            label: ''
        }],
        labels: {{ labels_motherboard_ram|safe }}
        },
        options: {
            title: {
                display: true,
                text: 'тип слоту ОЗУ'
                },

            animation: {
                duration: 2700,
            },

            scales: {
                yAxes: [{
                  id: 'y-axis-0',
                  gridLines: {
                    display: true
                  },
                  ticks: {
                    beginAtZero:true,
                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                  },
                  afterBuildTicks: function(chart) {

                  }
                }],
                xAxes: [{
                  id: 'x-axis-0',
                  gridLines: {
                    display: false
                  },
                  ticks: {
                    beginAtZero: true
                  }
                }]
            }

        }
     };



    window.onload = function() {
      var motherboard_brand_w = document.getElementById('motherboard-brand-chart').getContext('2d');
      var motherboard_form_factor_w = document.getElementById('motherboard-form-factor-chart').getContext('2d');
      var motherboard_integrated_items_w = document.getElementById('motherboard-integrated-items-chart').getContext('2d');
      var motherboard_ram_w = document.getElementById('motherboard-ram-chart').getContext('2d');

      window.myPie = new Chart(motherboard_brand_w, motherboard_brand);
      window.myPie = new Chart(motherboard_form_factor_w, motherboard_form_factor);
      window.myPie = new Chart(motherboard_integrated_items_w, motherboard_integrated_items);
      window.myPie = new Chart(motherboard_ram_w, motherboard_ram);
    };

    function hideMotherboardChart() {
        var x = document.getElementById("motherboard-chart");
        if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
    }
}

  </script>

<div  class="container mt-4">

    {% if user.is_authenticated %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">
                Вітаю {{ user.first_name }} {{ user.last_name }},
            </h1>
            <p class="lead"><a class="text-dark" href="logout">Logout</a></p>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="jumbotron">
            <h3 align="center">Материнські плати &nbsp;
                <a href="#motherboard-table" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#motherboard-table" aria-expanded="false" aria-controls="motherboard-table">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                    </svg>
                </a>

                <a class="btn btn-outline-secondary" onclick="hideMotherboardChart()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                        <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                    </svg>
                </a>
            </h3>
        </div>
    </div>


    <div class="collapse" id="motherboard-table">
        <div class="jumbotron">

            <table class="table" border="0" >
                <thead>

                <tr align="center">
                    <th scope="col">серійний <br> номер</th>
                    <th scope="col">бренд</th>
                    <th scope="col">модель</th>
                    <th scope="col">форм-<br>фактор</th>
                    <th scope="col">тип слоту <br> ОЗУ</th>
                    <th scope="col">інтегрована  <br> відеокарта</th>
                    <th scope="col">інтегрована <br> звукова-карта</th>
                    <th scope="col">інтегрована <br> мережева-карта</th>
                </tr>
                </thead>
                <tbody>
                {% for motherboard in motherboards %}
                <tr align="center">
                    <td>
                        <a href="/IT_items/pc_accessories/{{motherboard.name}}/{{motherboard.id}}" class="text-dark">
                            {{motherboard.serial_number}}
                        </a>
                    </td>

                    <td>{{motherboard.brand}}</td>
                    <td>{{motherboard.model}}</td>
                    <td>{{motherboard.form_factor}}</td>
                    <td>{{motherboard.type_ram_slot}}</td>

                    {% if motherboard.integrated_graphics %}
                    <td> + </td>
                    {% else %}
                    <td> - </td>
                    {% endif %}

                    {% if motherboard.integrated_sound_card %}
                    <td> + </td>
                    {% else %}
                    <td> - </td>
                    {% endif %}

                     {% if motherboard.integrated_lan_card %}
                    <td> + </td>
                    {% else %}
                    <td> - </td>
                    {% endif %}

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="jumbotron" id="motherboard-chart">
        <table class="" align="center" border="0">
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <canvas id="motherboard-ram-chart" width="500" height="375"></canvas>
                </td>
                <td align="center">
                    <canvas id="motherboard-brand-chart" width="500" height="375"></canvas>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <canvas id="motherboard-integrated-items-chart" width="500" height="375"></canvas>
                </td>
                <td>
                    <canvas id="motherboard-form-factor-chart" width="500" height="375"></canvas>
                </td>
            </tr>
        </table>
    </div>










<!--    <div class="jumbotron">-->
<!--                 <table class="table" border="0">-->
<!--                     <thead>-->
<!--                     <tr>-->
<!--                         <th colspan="8">-->
<!--                             <h5 align="center">Блоки живлення</h5>-->
<!--                         </th>-->
<!--                     </tr>-->
<!--                     <tr>-->
<!--                         <th scope="col">serial number</th>-->
<!--                        <th scope="col">brand</th>-->
<!--                        <th scope="col">model</th>-->
<!--                        <th scope="col">power consumption</th>-->
<!--                    </tr>-->
<!--                     </thead>-->
<!--                     <tbody>-->
<!--                     {% for power_supply in power_supplies %}-->
<!--                     <tr>-->
<!--                         <td>-->
<!--                             <a href="/IT_items/pc_accessories/{{power_supply.name}}/{{power_supply.id}}" class="text-dark">-->
<!--                                 {{power_supply.serial_or_inventory_number}}-->
<!--                             </a>-->
<!--                         </td>-->
<!--                         <td>{{power_supply.brand}}</td>-->
<!--                         <td>{{power_supply.model}}</td>-->
<!--                         <td>{{power_supply.power_consumption}}</td>-->
<!--                     </tr>-->
<!--                     {% endfor %}-->
<!--                     </tbody>-->
<!--                 </table>-->
<!--            </div>-->

<!--    <div class="row">-->
<!--        <div class="col-sm" align="left">-->
<!--            <div class="jumbotron">-->
<!--                 <table class="table" border="0">-->
<!--                     <thead>-->
<!--                     <tr>-->
<!--                         <th colspan="8">-->
<!--                             <h5 align="center">Мережеві плати</h5>-->
<!--                         </th>-->
<!--                     </tr>-->
<!--                     <tr>-->
<!--                         <th scope="col">serial number</th>-->
<!--                        <th scope="col">brand</th>-->
<!--                        <th scope="col">model</th>-->
<!--                    </tr>-->
<!--                     </thead>-->
<!--                     <tbody>-->
<!--                     {% for lan_card in lan_cards %}-->
<!--                     <tr>-->
<!--                         <td>-->
<!--                             <a href="/IT_items/pc_accessories/{{lan_card.name}}/{{lan_card.id}}" class="text-dark">-->
<!--                                 {{lan_card.serial_number}}-->
<!--                             </a>-->
<!--                         </td>-->
<!--                         <td>{{lan_card.brand}}</td>-->
<!--                         <td>{{lan_card.model}}</td>-->
<!--                     </tr>-->
<!--                     {% endfor %}-->
<!--                     </tbody>-->
<!--                 </table>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm" align="right">-->
<!--            <div class="jumbotron">-->
<!--                <table class="table" border="0" width="100%">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th colspan="8">-->
<!--                            <h5 align="center">Звукові плати</h5>-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th scope="col">serial number</th>-->
<!--                        <th scope="col">brand</th>-->
<!--                        <th scope="col">model</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    {% for sound_card in sound_cards %}-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <a href="/IT_items/pc_accessories/{{sound_card.name}}/{{sound_card.id}}" class="text-dark">-->
<!--                                {{sound_card.serial_number}}-->
<!--                            </a>-->
<!--                        </td>-->
<!--                        <td>{{sound_card.brand}}</td>-->
<!--                        <td>{{sound_card.model}}</td>-->
<!--                        <td>{{sound_card.memory_size}}</td>-->
<!--                    </tr>-->
<!--                    {% endfor %}-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <div class="col-sm" align="left">-->
<!--            <div class="jumbotron">-->
<!--                <table class="table" border="0" width="100%">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th colspan="8">-->
<!--                            <h5 align="center">Відеокарти</h5>-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th scope="col">serial number</th>-->
<!--                        <th scope="col">brand</th>-->
<!--                        <th scope="col">model</th>-->
<!--                        <th scope="col">memory size</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    {% for video_card in video_cards %}-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <a href="/IT_items/pc_accessories/{{video_card.name}}/{{video_card.id}}" class="text-dark">-->
<!--                                {{video_card.serial_number}}-->
<!--                            </a>-->
<!--                        </td>-->
<!--                        <td>{{video_card.brand}}</td>-->
<!--                        <td>{{video_card.model}}</td>-->
<!--                        <td>{{video_card.memory_size}}</td>-->
<!--                    </tr>-->
<!--                    {% endfor %}-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm" align="right">-->
<!--        </div>-->
<!--    </div>-->



    {% else %}
    <div class="d-flex justify-content-center">
        <aside class="col-sm-4">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1" align="center">Ви не авторизовані</h4>
                    <div class="form-group">
                        <a href="/login" class="btn btn-success btn-block">Авторизуватися</a>
                    </div>
                </article>
            </div>
        </aside>
    </div>
    {% endif %}
</div>


{% endblock %}
